<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |a| %>
    <tr>
        <td><%= a.title%></td>
        <td><%= a.description%></td>
        <td><p class="text-muted"><%= a.user.username%></p></td>
        <td><%=button_to'Show',article_path(a), method: :get, class:"btn btn-success btn-sm"%></td>
        <% if logged_in? && (a.user== current_user || current_user.admin?)%>
          <td><%=link_to'Edit',edit_article_path(a) ,class:"btn btn-info btn-sm"%></td>
          
        <% else %>
          <td><%=link_to'Edit',edit_article_path(a) ,class:"btn btn-info btn-sm disabled" %></td>
         
        <% end %>
        
    </tr>
<% end %>
  </tbody>
</table>