<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |a| %>
    <tr>
        <td><%= a.title%></td>
        <td><%= a.description%></td>
        <td><p class="text-muted"><%= a.user.username%></p></td>
        <td><%=button_to'Show',article_path(a), method: :get, class:"btn btn-success btn-sm"%></td>
        <td><%=link_to'Edit',edit_article_path(a) ,class:"btn btn-info btn-sm"%></td>
        <td><%= button_to 'Delete', article_path(a), method: :delete ,class:"btn btn-danger btn-sm"%></td>

        
    </tr>
<% end %>
  </tbody>
</table>