<h1 class ="text-center mt-4" ><%= @user.username%>'s Profile</h1>
<%= gravator_for @user %>
<h3 class ="text-center mt-4" >Articles by <%= @user.username%></h1>
<%= render 'articles/article' %>
<%= render 'layouts/footer'%>
