<h1 class ="text-center mt-4">Categories</h1>

<div class="text-center m-4">
<%= link_to "Create New Category" ,new_category_path, class:"btn btn-dark btn-lg"%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Number of Articles</th>
      <th scope="col">Show</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |c| %>
    <tr>
        <td><%= c.name%></td>
        <td><%= c.articles.count%></td>
        <td><%=button_to'Show',category_path(c), method: :get, class:"btn btn-success btn-md"%></td>
    </tr>
  <% end %>
</tbody>
</table>

<div class="flickr_pagination">
    <%= will_paginate @categories, :previous_label => 'Previous', :next_label => 'Next', :container => false%>
</div> 

<%= render 'layouts/footer'%>